{% extends "base.html" %}

{% block title %}History - BuiltBuff{% endblock %}

{% block content %}
<h1 class="heading-primary">History</h1>
{% set current_month = none %}

<div class="workout-grid">
    {% for session in workout_sessions %}
        {% if session.formatted_date.month_year != current_month %}
            {% set current_month = session.formatted_date.month_year %}
            <p class="text-gray">{{ current_month|upper }}</p>
        {% endif %}

        <div class="workout-card">
            <div class="card-header">
                <h2 class="heading-secondary">{{ session.session_name }}</h2>
                <p class="text-gray">{{ session.formatted_date.day_name }}, {{ session.formatted_date.short_date }}</p>
            </div>
            
            <div class="stats-container">
                <div class="stat-item">
                    <span class="stat-icon"></span>
                    <span class="stat-value">
                        {% if session.total_duration %}
                            {% set duration = session.total_duration.split(', ')[1].split(':') %}
                            {{ duration[0] }}h {{ duration[1] }}m
                        {% else %}
                            N/A
                        {% endif %}
                    </span>
                </div>
                <!-- Additional stat items -->
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}