<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=NCL Monster Beast:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap" />
  	
  	
  	
</head>
<body>
  	
 <div style="width: 100%; height: 100%; position: relative; background: #F0F0F0">
    <div style="left: 89px; top: 434px; position: absolute; color: #FB892B; font-size: 64px; font-family: NCL Monster Beast; font-weight: 400; word-wrap: break-word">BuiltBuff</div>
    <div style="width: 619px; height: 605px; left: 720px; top: 242px; position: absolute">
        <div style="width: 619px; height: 605px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 12.300000190734863px 4px rgba(0, 0, 0, 0.25); border-radius: 20px"></div>
        <div style="width: 259px; height: 66px; left: 180px; top: 461px; position: absolute">
            <button onclick="window.location.href='signup.html'" style="width: 100%; height: 100%; background: #54AE4D; border-radius: 5px; border: 1px solid; color: white; font-size: 20px; font-family: Roboto; font-weight: 700; cursor: pointer;">
                Create new account
            </button>
        </div>
        <div style="left: 249px; top: 359px; position: absolute; color: #A97549; font-size: 15px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Forgot Password?</div>
        <div style="width: 450px; height: 66px; left: 84px; top: 262px; position: absolute">
            <button onclick="window.location.href='profile.html'" style="width: 100%; height: 100%; background: #FB892B; border-radius: 5px; border: 1px solid; color: white; font-size: 24px; font-family: Roboto; font-weight: 700; cursor: pointer;">
                Log In
            </button>
        </div>
        <div style="width: 450px; height: 66px; left: 84px; top: 78px; position: absolute">
            <input type="text" placeholder="Email" style="width: 100%; height: 100%; border-radius: 5px; border: 1px #8F8D8D solid; font-size: 24px; font-family: Roboto; font-weight: 400; padding-left: 19px; box-sizing: border-box;">
        </div>
        <div style="width: 450px; height: 66px; left: 84px; top: 165px; position: absolute">
            <input type="password" placeholder="Password" style="width: 100%; height: 100%; border-radius: 5px; border: 1px #8F8D8D solid; font-size: 24px; font-family: Roboto; font-weight: 400; padding-left: 19px; box-sizing: border-box;">
        </div>
    </div>
    <div style="left: 952px; top: 878px; position: absolute; color: black; font-size: 16px; font-family: Roboto Mono; font-weight: 400; word-wrap: break-word">Get Buff, Bitch.</div>
    <div style="left: 89px; top: 526px; position: absolute; color: black; font-size: 20px; font-family: Roboto Mono; font-weight: 400; word-wrap: break-word">Track your gains,<br/>Measure your Progress.</div>
    <img style="width: 134px; height: 134px; left: 528px; top: 439px; position: absolute" src="buffbuffalo.png" />
</div>
  	
  	
  	
  	
  	<script>
    		var groupContainer = document.getElementById("groupContainer");
    		if(groupContainer) {
      			groupContainer.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var groupContainer1 = document.getElementById("groupContainer1");
    		if(groupContainer1) {
      			groupContainer1.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}</script></body>
</html>